<!-- <div>

<% unless @views.nil? do %>
  <% @views.each do |view| %>
    <div>
      <h1><%= view.name %></h1><br />
      <p><%= view.description %></p><br />
    </div>

    <hr />
  <% end %>
<% end %>
<% end %>
</div> -->
